-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: simpletest_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `assigned_emp_deduc`
--

DROP TABLE IF EXISTS `assigned_emp_deduc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assigned_emp_deduc` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `type_of_deduction` varchar(255) NOT NULL,
  `cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `apply_year_month` varchar(7) DEFAULT NULL,
  `apply_cutoff_slot` tinyint(1) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assigned_emp_deduc`
--

LOCK TABLES `assigned_emp_deduc` WRITE;
/*!40000 ALTER TABLE `assigned_emp_deduc` DISABLE KEYS */;
/*!40000 ALTER TABLE `assigned_emp_deduc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assigned_emp_inc`
--

DROP TABLE IF EXISTS `assigned_emp_inc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assigned_emp_inc` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `type_of_income` varchar(255) NOT NULL,
  `cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `taxable` tinyint(1) NOT NULL DEFAULT 0,
  `month_13th` tinyint(1) NOT NULL DEFAULT 0,
  `apply_year_month` varchar(7) DEFAULT NULL,
  `apply_cutoff_slot` tinyint(1) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assigned_emp_inc`
--

LOCK TABLES `assigned_emp_inc` WRITE;
/*!40000 ALTER TABLE `assigned_emp_inc` DISABLE KEYS */;
/*!40000 ALTER TABLE `assigned_emp_inc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deleted_geofences`
--

DROP TABLE IF EXISTS `deleted_geofences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deleted_geofences` (
  `id` int(10) unsigned NOT NULL,
  `original_id` int(10) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `coordinates` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deleted_geofences`
--

LOCK TABLES `deleted_geofences` WRITE;
/*!40000 ALTER TABLE `deleted_geofences` DISABLE KEYS */;
INSERT INTO `deleted_geofences` VALUES (0,6,'di ko alam kung saan ito','[[14.600230597140046,120.98389041765269],[14.599789071415348,120.98381533860491],[14.599742321580852,120.98414783153085],[14.60016826415028,120.98423363615692],[14.600230597140046,120.98389041765269]]','2026-05-10 15:56:48','2026-05-10 15:56:51');
/*!40000 ALTER TABLE `deleted_geofences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_deduc_type`
--

DROP TABLE IF EXISTS `emp_deduc_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_deduc_type` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `type_of_deduction` varchar(255) NOT NULL,
  `taxable` tinyint(1) NOT NULL DEFAULT 1,
  `included_in_13month` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `recurring` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_deduc_type`
--

LOCK TABLES `emp_deduc_type` WRITE;
/*!40000 ALTER TABLE `emp_deduc_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_deduc_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_inc_type`
--

DROP TABLE IF EXISTS `emp_inc_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_inc_type` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `type_of_income` varchar(255) NOT NULL,
  `cost` decimal(15,2) NOT NULL DEFAULT 0.00,
  `taxable` tinyint(1) NOT NULL DEFAULT 1,
  `included_in_13month` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `recurring` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_inc_type`
--

LOCK TABLES `emp_inc_type` WRITE;
/*!40000 ALTER TABLE `emp_inc_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_inc_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_13th_month`
--

DROP TABLE IF EXISTS `employee_13th_month`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_13th_month` (
  `id` int(10) unsigned NOT NULL,
  `employee_id` int(10) unsigned NOT NULL,
  `employee_name` varchar(255) NOT NULL,
  `process_year` smallint(6) NOT NULL,
  `monthly_salary` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_basic_salary_earned` decimal(15,2) NOT NULL DEFAULT 0.00,
  `month_13_pay` decimal(15,2) NOT NULL DEFAULT 0.00,
  `computed_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_employee_year` (`employee_id`,`process_year`),
  KEY `idx_process_year` (`process_year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_13th_month`
--

LOCK TABLES `employee_13th_month` WRITE;
/*!40000 ALTER TABLE `employee_13th_month` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_13th_month` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_attendance`
--

DROP TABLE IF EXISTS `employee_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_attendance` (
  `Attendance_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `Emp_id` int(10) unsigned NOT NULL,
  `Date` date NOT NULL,
  `Location` varchar(255) NOT NULL,
  `Coordinates` varchar(255) NOT NULL,
  `Clock_in` varchar(255) NOT NULL,
  `Clock_out` varchar(255) NOT NULL,
  `Clockin_status` varchar(255) NOT NULL,
  `Clockout_status` varchar(255) NOT NULL,
  `Duration` float NOT NULL,
  `AO` tinyint(1) NOT NULL,
  PRIMARY KEY (`Attendance_id`),
  KEY `Emp_id` (`Emp_id`),
  CONSTRAINT `employee_attendance_ibfk_1` FOREIGN KEY (`Emp_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_attendance`
--

LOCK TABLES `employee_attendance` WRITE;
/*!40000 ALTER TABLE `employee_attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_location`
--

DROP TABLE IF EXISTS `employee_location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_location` (
  `tb_id` int(10) NOT NULL AUTO_INCREMENT,
  `User_Id` int(10) unsigned NOT NULL,
  `loc_id` bigint(255) unsigned NOT NULL,
  PRIMARY KEY (`tb_id`),
  KEY `loc_id` (`loc_id`),
  KEY `User_Id` (`User_Id`),
  CONSTRAINT `employee_location_ibfk_1` FOREIGN KEY (`loc_id`) REFERENCES `geofences` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `employee_location_ibfk_2` FOREIGN KEY (`User_Id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_location`
--

LOCK TABLES `employee_location` WRITE;
/*!40000 ALTER TABLE `employee_location` DISABLE KEYS */;
INSERT INTO `employee_location` VALUES (1,4,1),(2,4,2),(4,3,4),(5,11,1),(6,9,1),(7,7,1);
/*!40000 ALTER TABLE `employee_location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `type` varchar(50) NOT NULL DEFAULT 'Emp',
  `position` varchar(255) NOT NULL,
  `department` varchar(255) NOT NULL,
  `salary` decimal(15,2) NOT NULL DEFAULT 0.00,
  `join_date` date NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `geofences`
--

DROP TABLE IF EXISTS `geofences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `geofences` (
  `id` bigint(255) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `coordinates` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `geofences`
--

LOCK TABLES `geofences` WRITE;
/*!40000 ALTER TABLE `geofences` DISABLE KEYS */;
/*!40000 ALTER TABLE `geofences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_attendance_settings`
--

DROP TABLE IF EXISTS `hr_attendance_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hr_attendance_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `Manual_mode` tinyint(1) NOT NULL,
  `Hide_attendance_id` tinyint(1) NOT NULL,
  `Hide_employee_id` tinyint(1) NOT NULL,
  `Hide_name` tinyint(1) NOT NULL,
  `Hide_department` tinyint(1) NOT NULL,
  `Hide_date` tinyint(1) NOT NULL,
  `Hide_locations` tinyint(1) NOT NULL,
  `Hide_clockin` tinyint(1) NOT NULL,
  `Hide_clockinstatus` tinyint(1) NOT NULL,
  `Hide_clockout` tinyint(1) NOT NULL,
  `Hide_clockoutstatus` tinyint(1) NOT NULL,
  `Hide_duration` tinyint(1) NOT NULL,
  `Hide_AO` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_attendance_settings`
--

LOCK TABLES `hr_attendance_settings` WRITE;
/*!40000 ALTER TABLE `hr_attendance_settings` DISABLE KEYS */;
INSERT INTO `hr_attendance_settings` VALUES (1,0,1,1,0,1,0,1,0,0,0,0,0,1);
/*!40000 ALTER TABLE `hr_attendance_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_tokens`
--

DROP TABLE IF EXISTS `otp_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_tokens` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `user_email` varchar(255) NOT NULL,
  `otp_code` varchar(10) NOT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `verified_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_email` (`user_email`),
  KEY `idx_otp_code` (`otp_code`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `otp_fk_user` FOREIGN KEY (`user_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_tokens`
--

LOCK TABLES `otp_tokens` WRITE;
/*!40000 ALTER TABLE `otp_tokens` DISABLE KEYS */;
INSERT INTO `otp_tokens` VALUES (31,3,'romer.navoa09@gmail.com','674922',1,'2026-05-12 23:22:10','2026-05-12 15:12:10','2026-05-12 23:12:40'),(33,17,'jeremiahguarino@gmail.com','749053',1,'2026-05-12 23:25:50','2026-05-12 15:15:50','2026-05-12 23:16:31'),(34,4,'axispdc2@gmail.com','976375',0,'2026-05-12 23:27:30','2026-05-12 15:17:30',NULL);
/*!40000 ALTER TABLE `otp_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagibig_table`
--

DROP TABLE IF EXISTS `pagibig_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagibig_table` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `year` int(11) NOT NULL,
  `salary_from` decimal(15,2) NOT NULL,
  `salary_to` decimal(15,2) DEFAULT NULL,
  `contribution_rate` decimal(5,4) NOT NULL,
  `maximum_contribution` decimal(10,2) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_year` (`year`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagibig_table`
--

LOCK TABLES `pagibig_table` WRITE;
/*!40000 ALTER TABLE `pagibig_table` DISABLE KEYS */;
INSERT INTO `pagibig_table` VALUES (1,2026,0.00,1500.00,0.0100,15.00,'Up to Γé▒1,500','2026-05-05 18:48:08','2026-05-05 18:56:12'),(2,2026,1500.01,10000.00,0.0200,200.00,'Γé▒1,500 - Γé▒10,000','2026-05-05 18:48:08','2026-05-05 18:56:12'),(3,2026,10000.01,NULL,0.0200,200.00,'Γé▒10,000 and above','2026-05-05 18:48:08','2026-05-05 18:56:12');
/*!40000 ALTER TABLE `pagibig_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_sessions`
--

DROP TABLE IF EXISTS `password_reset_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_sessions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `session_id` varchar(255) NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `user_email` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `is_completed` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_id` (`session_id`),
  KEY `idx_session_id` (`session_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_expires` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_sessions`
--

LOCK TABLES `password_reset_sessions` WRITE;
/*!40000 ALTER TABLE `password_reset_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_token` (`token`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `prt_fk_user` FOREIGN KEY (`user_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `philhealth_table`
--

DROP TABLE IF EXISTS `philhealth_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `philhealth_table` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `year` int(11) NOT NULL,
  `salary_from` decimal(15,2) NOT NULL,
  `salary_to` decimal(15,2) DEFAULT NULL,
  `contribution_rate` decimal(5,4) NOT NULL,
  `maximum_contribution` decimal(10,2) NOT NULL,
  `fixed_amount` decimal(10,2) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_year` (`year`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `philhealth_table`
--

LOCK TABLES `philhealth_table` WRITE;
/*!40000 ALTER TABLE `philhealth_table` DISABLE KEYS */;
INSERT INTO `philhealth_table` VALUES (1,2026,0.00,10000.00,0.0275,275.00,275.00,'Up to Γé▒10,000','2026-05-05 18:48:08','2026-05-05 18:56:12'),(2,2026,10000.01,49999.00,0.0275,1375.00,NULL,'Γé▒10,000 - Γé▒49,999','2026-05-05 18:48:08','2026-05-05 18:56:12'),(3,2026,50000.00,NULL,0.0275,1375.00,NULL,'Γé▒50,000 and above','2026-05-05 18:48:08','2026-05-05 18:56:12');
/*!40000 ALTER TABLE `philhealth_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `premiums`
--

DROP TABLE IF EXISTS `premiums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `premiums` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `employee_name` varchar(255) NOT NULL,
  `sss` decimal(15,2) NOT NULL DEFAULT 0.00,
  `philhealth` decimal(15,2) NOT NULL DEFAULT 0.00,
  `pagibig` decimal(15,2) NOT NULL DEFAULT 0.00,
  `withholding_tax` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_premium` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_employee_id` (`employee_id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `premiums`
--

LOCK TABLES `premiums` WRITE;
/*!40000 ALTER TABLE `premiums` DISABLE KEYS */;
/*!40000 ALTER TABLE `premiums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sss_table`
--

DROP TABLE IF EXISTS `sss_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sss_table` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `year` int(11) NOT NULL,
  `salary_from` decimal(15,2) NOT NULL,
  `salary_to` decimal(15,2) DEFAULT NULL,
  `monthly_contribution` decimal(10,2) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_year` (`year`)
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sss_table`
--

LOCK TABLES `sss_table` WRITE;
/*!40000 ALTER TABLE `sss_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `sss_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_table`
--

DROP TABLE IF EXISTS `tax_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tax_table` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `year` int(11) NOT NULL,
  `income_from` decimal(15,2) NOT NULL,
  `income_to` decimal(15,2) DEFAULT NULL,
  `tax_rate` decimal(5,2) NOT NULL,
  `base_tax` decimal(15,2) DEFAULT 0.00,
  `description` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_year` (`year`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_table`
--

LOCK TABLES `tax_table` WRITE;
/*!40000 ALTER TABLE `tax_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `tax_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `User_id` int(10) unsigned NOT NULL,
  `Username` varchar(255) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `Type` varchar(255) NOT NULL,
  `Clockin_status` varchar(255) NOT NULL,
  `Work_status` varchar(255) NOT NULL DEFAULT 'Tapped-out',
  KEY `users_ibfk_1` (`User_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`User_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-12 23:19:50
